{% extends "index.html" %}

{% block title %}{{ SITENAME }} - {{ CATEGORIES_I18N[category.name][DEFAULT_LANG] }} {% endblock %}

{% block header %}
    <!-- Page Header -->
    {% if HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1> {{ CATEGORIES_I18N[category.name][DEFAULT_LANG] }} </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block language_block%}
<!-- Override behavior : link to corresponding page for subsites -->
{% if extra_siteurls %}
{% for lang, url in extra_siteurls.items() %}
<a class='lang-a' href="{{ url }}/{{ category.url }}">{{ lang }}</a>
{% endfor %}
{% endif %}
{% endblock %}


{% block content %}

{% if articles_page and articles_paginator.num_pages > 1 %}

    <!-- Previous / next buttons -->
    <div class='paginator'>
        {% if articles_page.has_previous() %}
        <a href="{{SITE_URL}}/category/{{ category.slug }}
                {% if articles_page.number > 2%}{{ articles_page.number - 1}}{% endif %}.html">«
        </a>
        {% endif %}
        <span class="page_numbers">{{ articles_page.number }} /
            {{ articles_paginator.num_pages }}</span>

        {% if articles_page.has_next() %}
        <a href="{{SITE_URL}}/category/{{ category.slug }}{{ articles_page.number + 1}}.html">»</a>
        {% endif %}
    </div>

    <!-- Articles for the page -->


    {% for i in range (0, DEFAULT_PAGINATION ) %}
        {% set index = (articles_page.number - 1) * DEFAULT_PAGINATION %}
        {% if index + i < articles|length %}
            {% set article = articles[index + i] %}
            <h1><a href="{{SITEURL}}/{{ article.url }}">{{article.title}}</a></h1>
            <p><i>{{article.date| strftime(DATE_FORMATS[DEFAULT_LANG]) }}</i></p>
            <p>{{article.summary}}</p>
            <hr>
        {% endif %}
    {% endfor %}


{% else %}

    {% for article in articles %}
    {% if article.category == category %}
        <h1><a href="{{SITEURL}}/{{ article.url }}">{{article.title}}</a></h1>
        <p><i>{{article.date| strftime(DATE_FORMATS[DEFAULT_LANG]) }}</i></p>
        <p>{{article.summary}}</p>
        <hr>
    {% endif %}
    {% endfor %}

    {% endif %}

{% endblock content %}
