<p class="copyright text-muted">
    <a href="https://framagit.org/framasoft/framaforms">
        Code source
    </a>
    <br>
    <a href="https://docs.framasoft.org/fr/framaforms">
        Documentation
    </a>
    <br><br>
    <span>Site powered by <a href="http://getpelican.com">Pelican</a>, using <a
        href='https://github.com/gilsondev/pelican-clean-blog/'>Pelican Clean
        Blog</a>
    </span>
</p>
