{% extends "index.html" %}

{% block title %}
    {{ SITENAME }} | {{ page.title }}
{% endblock title %}

{% block header %}
    <!-- Page Header -->
    {% if page.header_cover %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ page.header_cover }}')">
    {% elif HEADER_COVER %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/contact-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block language_block%}
<!-- Override behavior : link to corresponding page for subsites -->
{% if extra_siteurls %}
{% for lang, url in extra_siteurls.items() %}
<a class='lang-a' href="{{ url }}/{{ page.url }}">{{ lang }}</a>
{% endfor %}
{% endif %}
{% endblock %}


{% block content %}
    <article>
        {{ page.content }}
    </article>
{% endblock content %}
