.framaforms-icon {
  max-width: 45px;
}

#languages-block {
  padding: 30px;
}

#languages-block > a{
  color: #a6a6a6;
}

.anchor-link {
  left: -20px ;
  position: absolute;
}

/* For icons in title sections */
h1 > img {
  width:35px;
}

div.container> div> div > hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar-custom.is-visible{
  top:0px;
}

.navbar-custom.is-visible{
  transform: none;
}

.paginator {
  text-align: center;
  padding: 20px;
  font-size: x-large;
}

.page_numbers {
  padding: 20px;
}
